{% extends 'hw/base.html' %}

    {% block content %}
        <h1>About this page</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id in quaerat iste quasi cum, ea alias exercitationem consequuntur totam iusto. Nisi tempora autem sit sequi ratione excepturi atque voluptatibus libero!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum ab reiciendis, eveniet provident non magni velit aspernatur perferendis asperiores, et nulla fuga? Voluptatibus, quod nostrum nesciunt magnam officiis dicta quia!
        </p>
    {% endblock %}