{% extends 'project/base.html' %}
<!-- confirmation page to ensure the user really wants to buy a given squishmallow -->
<div>
    <h4>Confirm Purchase</h4>
    <div>
        <p>Are you sure you would like to buy {{listing.squishmallow.name}} the {{listing.squishmallow.species}} for ${{listing.price}}?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Yes, Buy It</button>
            <!-- if they don't, bring them back to the listing -->
            <a href="{% url 'show_listing' listing.pk %}">Cancel</a> 
        </form>
    </div>
</div>