{% extends 'project/base.html' %}
{% block content %}


<h2 class="header">{{profile.first_name}}'s Listings</h2>

<div>
    {% if profile.get_listings.count == 0 %}
        <p>There's nothing here!</p>
        {% if request.user.is_authenticated and profile.user.id == request.user.id %}
        <p><a href="{% url 'collection' profile.pk %}">Add a Listing here.</a></p>
        {% endif %}
    {% endif %}
    
</div>

<div class="collection-grid">
    {% for item in listings %}
        <div class="collection-col">
            <h4>Squish for sale: {{item.squishmallow.name}} the {{item.squishmallow.species}}</h4>
            <p>Price: ${{item.price}}</p>
            <div>
                <form method="post" action="{% url 'confirm_purchase' item.pk %}">
                {% csrf_token %}
                {% if request.user.id != item.owner.user.id %}
                    <button type="submit">Buy This Squishmallow</button>
                {% else %}
                    <button type="submit" disabled>You own this.</button>
                {% endif %}
                </form>
            </div>
        </div>

    {% endfor %}

</div>
{% endblock %}