{% extends 'project/base.html' %}

{% block content %}

<!-- home page for project -->
<h2 class="header">Welcome to the Squishmallow Collection Tracker!</h2>

<ul class="navigation">
    {% if request.user.is_authenticated %}
    <!-- if logged in, show their profile and a log out button -->
        <li><a href="{% url 'my_profile' %}">My Profile</a></li>
        <li>
            <form method="post" action="{% url 'logout' %}" class="nav-form">
                {% csrf_token %}
                <button type="submit" class="nav-link-button">Log out</button>
            </form>
        </li>
    {% else %}
    <!-- otherwise, prompt them to log in -->
        <h4>Please log in.</h4>
        <li><a href="{% url 'login' %}">Log in</a></li>
    {% endif %}
</ul>


{% endblock %}