<!-- File: base.html
Author: Grace Sewell, gsewell@bu.edu, 5/19/25
Description: base page for restaurant app -->


{% load static %}
<html>
    <head>
        <title>Welcome to Bob's Burgers</title>
        <link rel="stylesheet" href="{% static 'styles2.css' %}">
    </head>
    <header>
        <h1>Bob's Burgers</h1>
        <hr>
    </header>
    <div class="grid">

    <div>
    <nav>
        <a href="{% url 'restaurant_main' %}">Home</a><br>
        <p></p>
        <a href="{% url 'order' %}">Order Here</a><br>
 
    </nav>
    
    </div>
    <body>
        {% block content %}
        {% endblock %}
        
    </body>
    </div>
    <hr>
    <footer>Copyright 2025<br>
    The current time is {{time}}
    </footer>
</html>