{% load static %}
<!-- File: base.html
Author: Grace Sewell, gsewell@bu.edu, 5/27/25
Description: base for mini_fb. includes header and style info -->

<html>
    <head>
        <title>Mini Fb</title>
        <link rel="stylesheet" href="{% static 'styles-fb.css' %}">
    </head>

    <body>
        <header>
            <h1>Mini Facebook</h1>
            <nav><a href="{% url 'show_all_profiles' %}">Home</a></nav>
            <br>
        </header>

         {% block content %}
         {% endblock %}
    </body>
</html>