{% extends 'mini_fb/base.html' %}

{% block content %}
<div>
    <h1>Create New Status</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <!-- display form as a table, including the field name -->
            {% for field in form %}
            <tr>
                <th>{{field.name}}</th>
                <td>{{field}}</td>
            </tr>
            {% endfor %}
            <tr>
                <th>Add Image</th>
                <td>
                    <input type="file" name="files" multiple />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type='submit' name = 'Add Status!' value= 'Add Status!'>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}