<!-- # File: login.html
# Author: Grace Sewell, gsewell@bu.edu, 6/10/25
# Description: login form page -->

{% extends 'mini_fb/base.html' %}

{% block content %}

<h1>Login</h1>
<form method="post" action="{% url 'login' %}" >
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Login">
    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{request.GET.next}}">
    {% else %}
    <input type="hidden" name="next" value="{% url 'show_all_profiles' %}">
    {% endif %}
</form>
{% endblock %}