 {% extends 'mini_fb/base.html' %}

 {% block content %}
 <div>
    <div class="container">
        {% for profile in profiles %}
        <div class="item">
            <p>
                <a href="{% url 'show_profile' profile.pk %}">
                    <img src="{{profile.profile_image_url}}" style="width:200px;height:200px">
                </a>
            </p>
            <p>
                <a href="{% url 'show_profile' profile.pk %}">
                    <h3>{{profile.first_name}} {{profile.last_name}}</h3>
                </a>
                <p>City: {{profile.city}}</p>
                <p></p>
            </p>
        </div>
        {% endfor %}
        </tr>
    </div>
 </div>
 {% endblock %}