<!-- File: show_profile.html
Author: Grace Sewell, gsewell@bu.edu, 5/27/25
Description: extends base.html and shows a singular profile -->

{% extends 'mini_fb/base.html' %}
{% load static %}
{% block content %}
<div>
    <h1 style="text-align: center;">{{profile.first_name}} {{profile.last_name}}</h1>
    {% if request.user == profile.user %}
    <a href="{% url 'create_status' %}" style="text-align: center;">Create Status</a><br>
    <a href="{% url 'update_profile' %}" style="text-align: center;">Update Profile</a><br>
    <a href="{% url 'show_friend_suggestions' %}">Friend Suggestions</a><br>
    <a href="{% url 'show_news_feed' %}">News Feed</a><br>
    {% endif %}
    
</div>
<hr>

<div class="container">
    <div class="item">
        <img src="{{profile.profile_image_url}}" style="width:300px;height:300px">
    </div>
    <div class="item">
        <h3>{{profile.first_name}}'s Friends</h3>
            {% for friend in profile.get_friends %}
                <p>
                    <a href="{% url 'show_profile' friend.pk %}">
                        <img src="{{friend.profile_image_url}}" style="width:50px;height:50px">
                    </a>
                </p>
                <p>
                    <a href="{% url 'show_profile' friend.pk %}">
                        <h3>{{friend.first_name}} {{friend.last_name}}</h3>
                    </a>
                    <p></p>
                </p>
            {% endfor %}
    </div>
    <div class="item">
        <h3>About Info</h3>
        <hr>
        <p>City: {{profile.city}}</p>
        <p>Email: {{profile.email_address}}</p>
    </div>
    
</div>
<div class="item">
        <h3>Statuses</h3>
        <!-- loops through all statuses for a given profile and displays them -->
        <hr>
        <ul>
            {% for status in profile.get_status_messages %}
                <li>{{status.message}}<br>                    
                    {% for img in status.get_images %}
                        <img src="{{img.image.image_file.url}}" style="width:100px"> <br>
                    {% endfor %}
                    - {{status.timestamp}}<br>
                    {% if request.user == profile.user %}
                    <a href="{% url 'delete_status' status.pk %}"><input type="button" name="delete" value="Delete"></a>
                    <a href="{% url 'update_status' status.pk %}"><input type="button" name="update" value="Update"></a>
                    {% endif %}
                </li>
            {% endfor %} 
        </ul>
    </div>

{% endblock %}