<!-- # File: update_status_form.html
# Author: Grace Sewell, gsewell@bu.edu, 6/10/25
# Description: form to update a user's status -->

{% extends 'mini_fb/base.html' %}

{% block content %}
<div>
    <h1>Update Status</h1>

    <form action="{% url 'update_status' update_status.pk %}" method="POST">
        {% csrf_token %} 
        <table>
            <!-- display the form as a neat table -->
            {{form.as_table}}
        </table>
        <input type="submit" name="submit" value="Update">
        <a href="{% url 'show_profile' update_status.profile.pk %}"><input type="button" name="cancel" value="Cancel"></a>
    </form>
</div>
{% endblock %}