{% extends 'quotes/base.html' %}

    {% block content %}
    <!-- will display some basic info about the quotes and Peter Griffin -->
        <h1>Welcome to my quote application!</h1>
        <hr>
        <p>As a Family Guy fan, you know I had to make a Quote of the Day with iconic Peter Griffin Quotes.</p>
        <br>
        <p>Peter Griffin is the infamous main character of hit TV show Family Guy. Sit back, refresh, and enjoy the musings of Peter Griffin.</p>
        <hr>
    {% endblock %}